<div class="container">
  <div class="row mb-5">
    <div class="col-md-3">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">LindaSonrisa.</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p>
      </div>
      <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
        <li class="ftco-animate">
          <a href="#"><span class="icon-twitter"></span></a>
        </li>
        <li class="ftco-animate">
          <a href="#"><span class="icon-facebook"></span></a>
        </li>
        <li class="ftco-animate">
          <a href="#"><span class="icon-instagram"></span></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="ftco-footer-widget mb-4 ml-md-5">
        <h2 class="ftco-heading-2">Enlaces</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-2 d-block">Misión</a></li>
          <li><a href="#" class="py-2 d-block">Servicios</a></li>
          <li><a href="#" class="py-2 d-block">Contacto</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 pr-md-4">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Comentarios</h2>
        <div class="block-21 mb-4 d-flex">
          <a
            class="blog-img mr-4"
            style="background-image: url(images/image_1.jpg)"
          ></a>
          <div class="text">
            <h3 class="heading">
              <a href="#"
                >Excelente servicio. Totalmente recomendado. :)</a
              >
            </h3>
            <div class="meta">
              <div>
                <a href="#"
                  ><span class="icon-calendar"></span> Junio 15, 2021</a
                >
              </div>
              <div>
                <a href="#"><span class="icon-person"></span> Admin</a>
              </div>
              <div>
                <a href="#"><span class="icon-chat"></span> 19</a>
              </div>
            </div>
          </div>
        </div>
        <div class="block-21 mb-4 d-flex">
          <a
            class="blog-img mr-4"
            style="background-image: url(images/image_2.jpg)"
          ></a>
          <div class="text">
            <h3 class="heading">
              <a href="#"
                >Me encanto, muy buen servicio. Además, del grato ambiente.</a
              >
            </h3>
            <div class="meta">
              <div>
                <a href="#"
                  ><span class="icon-calendar"></span> Abril 29, 2021</a
                >
              </div>
              <div>
                <a href="#"><span class="icon-person"></span> Admin</a>
              </div>
              <div>
                <a href="#"><span class="icon-chat"></span> 10</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Atencion</h2>
        <div class="block-23 mb-3">
          <ul>
            <li>
              <span class="icon icon-map-marker"></span
              ><span class="text"
                >203 Fake St. Mountain View, San Francisco, California,
                USA</span
              >
            </li>
            <li>
              <a href="#"
                ><span class="icon icon-phone"></span
                ><span class="text">+ (569) 456 78909</span></a
              >
            </li>
            <li>
              <a href="#"
                ><span class="icon icon-envelope"></span
                ><span class="text">info@lindasonrisa.cl</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Reservados todos los derechos | Esta pagina está hecha con
        <i class="icon-heart" aria-hidden="true"></i> por
        <a href="https://colorlib.com" target="_blank">Grupo N°1</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</div>
