<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linda Sonrisa</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
      integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.timepicker.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>


    <nav
    class="
      navbar navbar-expand-lg navbar-dark
      ftco_navbar
      bg-dark
      ftco-navbar-light
    "
    id="ftco-navbar"
  >
    <div class="container"></div>
      <a class="navbar-brand" href="/">Linda<span>Sonrisa</span></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="/mision" class="nav-link">Misi칩n</a>
          </li>
          <li class="nav-item">
            <a href="/inicioSession" class="nav-link">Rerservar Hora</a>
          </li>
          <li class="nav-item">
            <a href="/contacto" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="registrar" class="nav-link">Registrate</a>
          </li>
          <li class="nav-item cta">
            <a
              href="/inicioSession"
              class="nav-link"
              data-toggle="modal"
              data-target="#loginModal"
              ><span>Iniciar Sesi칩n</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div><%- body %></div>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <%- include('footer') %>
    </footer>

    <!-- external  -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Iniciar Sesi칩n</h4>
            </div>
            <div class="container">
            <div class="d-flex flex-column text-center">
              <form
                action="/login"
                method="post"
                id="loginForm"
                name="loginForm"
              >
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Ingrese su usuario"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Ingrese su clave"
                  />
                </div>
                <div id="errorLogin"></div>
                <div>
                  <input
                    type="submit"
                    class="btn btn-success btn-block btn-round"
                    value="Entrar"
                  />
                  <a href="/registrar" class="btn btn-info btn-block btn-round"
                    >Crear Cuenta</a
                  >
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/js/notify.js"></script>
    <script src="js/reservations.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.timepicker.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="/js/google-map.js"></script>
    <script src="/js/main.js"></script>

    <script>
      const serialize_form = (form) =>
        JSON.stringify(
          Array.from(new FormData(form).entries()).reduce(
            (m, [key, value]) => Object.assign(m, { [key]: value }),
            {}
          )
        );

      $("#loginForm").submit(function (e) {
        event.preventDefault(e);
        const reservaHoraDatos = serialize_form(this);
        $.ajax({
          url: `/login`,
          processData: false,
          contentType: false,
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          data: serialize_form(this),
          success: function (response) {
            window.location.href = `/inicioSession`;
          },
          error: function (xhr, status, error) {
            $("#errorLogin").empty();
            if (xhr.status === 409) {
              $("#errorLogin").append(
                '<p style="color:red"> Usuario o Contrase침a Invalida </p>'
              );
              $("#password").val("");
              $("#username").val("");
              // $.notify("Usuario o Clave incorrecta", "error");
            }
          },
        });
      });
    </script>
  </body>
</html>
