<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Contacto</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
</head>
<body>
  <div class="ftco-section container d-flex justify-content-center">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Clinica Linda Sonrisa Centro Especialidades odontólogicas
          Contactanos
        </h2>
        <address>
          Huerfanos # 55 , Oficina 505, Piso 5<br />
          Santiago, Región Metropolitana, Chile.<br />
          <abbr title="Telefono"></abbr>
          Telefono: + (569) 456 78909
      </address>
      
      <address>
          <strong>WhatsApp:</strong>   <a href="mailto:Support@example.com">+569 456 78909</a><br />
          <strong>Contacto:</strong> <a href="mailto:Support@example.com">contacto@clinidalindasonrisa.cl</a>
      </address>
      </div>
    </div>
  
</div>
</body>
</html>