<section class="home-slider owl-carousel">
  <div
    class="slider-item bread-item"
    style="background-image: url('images/bg_1.jpg')"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <h1
            class="mb-3"
            data-scrollax=" properties: { translateY: '70%', opacity: .9}"
          >
            BIENVENIDO
          </h1>
          <br />
          <h4 style="color: white">
            Paciente <%= user.nombre_usuario %> <%= user.apellidoP_usuario %>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section container">
  <div class="row">
    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Usuario</h5>
          <img src="/imagesMenu/user.png" alt="" width="70px" />
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">editar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Reservar Hora</h5>
          <img src="/imagesMenu/calendar.png" alt="" width="70px" />
          <p class="card-text"></p>
          <a href="/reservations" class="btn btn-primary">Reservar</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Situación Ecónomica</h5>
          <img
            src="/imagesMenu/bloc-de-notas-y-lapiz.png"
            alt=""
            width="70px"
          />
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Añadir</a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Boletas</h5>
          <img src="/imagesMenu/factura.png" alt="" width="70px" />
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Menú
      </a>
      <a href="/informacion" class="list-group-item list-group-item-action"
        >Información Personal</a
      >
      <a
        href="/situacionEconomica"
        class="list-group-item list-group-item-action"
        >Situación Ecónomica</a
      >
      <a href="/reservations" class="list-group-item list-group-item-action"
        >Reserva de Hora</a
      >
      <a href="/verBoletas" class="list-group-item list-group-item-action"
        >Ver Boletas</a
      >
    </div> -->
