<!DOCTYPE html>
<html lang="en">
<body>
  <h2>Iniciar Sección</h2>
<div class="form-group media justify-content-center">
    <form action="/login" method="post">
        <div class="input-group-text">
            <div class="form-group col-1 col-lg-11">
                <strong>Usuario</strong>
                <div class="form-group">
                    <input type="text" id ="username" name="username" placeholder="Usuario" />
                </div>
                <strong>Password</strong>
                <div class="form-group">
                    <input type="password" id ="password" name="password" placeholder="Contraseña" />
                </div>
                <input type="submit" class="btn btn-success" value="Entrar" /> |
                <a href="/registrar" class="btn btn-default">Crear Cuenta</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>