<!DOCTYPE html>
<html lang="en">
<body>
<h2>Inicio Sesion</h2>
<br>
<h4>BIENVENIDO</h4> 
<h4>Odontólogo <%= user.nombre_usuario %>  <%= user.apellidoP_usuario %></h4>
<hr />
<br />
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Menú
    </a>
    <a href="/agenda" class="list-group-item list-group-item-action">Agenda</a>
    <a href="/veragenda" class="list-group-item list-group-item-action">Ver Agenda</a>
    <a href="/users" class="list-group-item list-group-item-action">Crear Usuario</a>
    <a href="/situacionEconomica" class="list-group-item list-group-item-action">Situación Ecónomica Pacientes</a>
</div>
<br />
</body>
</html>