<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Misión</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Misión</title>
</head>
<body>
  <div class="ftco-section container d-flex justify-content-center">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Clinica Linda Sonrisa Centro Especialidades odontólogicas</h2>
        <p>Implantar y desarrollar un nuevo concepto de odontología multidisciplinar, capaz de ofertar y realizar todo tipo de tratamientos dentales, y teniendo como objetivos principales:

          Solucionar los problemas bucodentales de nuestros pacientes.
          Concienciar a la sociedad de la importancia y necesidad de cuidar la salud bucodental, a través del seguimiento y la prevención.
          Investigar y desarrollar nuevas técnicas y materiales que permitan dar soluciones a todos los tratamientos que se realizan en nuestra clínica.</p>
      </div>
    </div>

</div>
</body>
</html>