<section class="home-slider owl-carousel">
  <div
    class="slider-item bread-item"
    style="background-image: url('/images/bg_1.jpg')"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <h1
            class="mb-3"
            data-scrollax=" properties: { translateY: '70%', opacity: .9}"
          >
            Registrate
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section container justify-content-center">
  <div class="container">
    <h2>Crear Cuenta</h2>
    <div class="form-horizontal">
      <h3>Paciente</h3>
      <div id="test"></div>
      <br />
      <div>
        <% if (created) { %>
        <div class="alert alert-success" role="alert">
          Usuario creado correctamente
        </div>
        <%} else if (created !==null){%>
        <div class="alert alert-danger" role="alert">
          problemas al crear al usuario
        </div>
        <%}%>

        <form id="addUser" name="addUser" action="/registrar" method="post">
          <input
            type="text"
            id="run_usuario"
            name="run_usuario"
            class="form-control col-md-4"
            placeholder="RUN"
          /><br />

          <input
            type="text"
            id="nombre_usuario"
            name="nombre_usuario"
            class="form-control col-md-4"
            placeholder="Nombre"
          />
          <br />

          <input
            type="text"
            id="apellidoP_usuario"
            name="apellidoP_usuario"
            class="form-control col-md-4"
            placeholder="A. Paterno"
          />
          <br />

          <input
            type="text"
            id="apellidoM_usuario"
            name="apellidoM_usuario"
            class="form-control col-md-4"
            placeholder="A. Materno"
          />
          <br />

          <label for="fecha_nac_usuario" style="color: black !important">
            Fecha Nacimiento:</label
          >
          <input
            class="form-control text-box single-line col-md-4"
            data-val="true"
            data-val-date="El campo Fecha de Nacimiento debe ser una fecha."
            data-val-required="El campo Fecha Nacimiento es obligatorio."
            id="fecha_nac_usuario"
            name="fecha_nac_usuario"
            required="required"
            type="date"
            value=""
            min="1911-01-01"
            max="2021-08-01"
          />

          <span
            class="field-validation-valid text-danger"
            data-valmsg-for="idTipo_usuario"
            data-valmsg-replace="true"
          ></span>
          <br />

          <input
            type="text"
            id="direccion_usuario"
            name="direccion_usuario"
            class="form-control col-md-4"
            placeholder="Dirección"
          />
          <br />

          <select
            name="selectRegion"
            id="selectRegion"
            class="form-control col-md-4"
          >
            <option value=""> Seleccione Region</option>
            <% regiones.forEach((region) => { %>
            <option value="<%= region.idregion %>">
              
              <%= region.nombre_region %>
            </option>
            <%})%>
          </select>

          <br />
          <select
            name="comunasSelect"
            id="comunasSelect"
            class="form-control col-md-4"
            disabled
          ></select>
          <br />

          <input
            type="text"
            id="email_usuario"
            name="email_usuario"
            class="form-control col-md-4"
            placeholder="Email"
          />
          <br />

          <input
            type="text"
            id="fono_usuario"
            name="fono_usuario"
            class="form-control col-md-4"
            placeholder="Fono"
          /><br />

          <input
            type="text"
            id="persona_cargo"
            name="persona_cargo"
            class="form-control col-md-4"
            placeholder="RUN Persona a Cargo"
          /><br />
          <input
            type="text"
            id="usuario"
            name="usuario"
            class="form-control col-md-4"
            placeholder="usuario"
          />
          <br />
          <input
            type="text"
            id="password_usuario"
            name="password_usuario"
            class="form-control col-md-4"
            placeholder="Contraseña"
          />
          <br />

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>

  <script>
    $("#selectRegion").change(function () {
      var regionSelected = $("#selectRegion").find(":selected").val();
      console.log(regionSelected)
      $.ajax({
        url: `/regiones/${regionSelected}/comunas`,
        processData: false,
        contentType: false,
        type: "get",
        success: function (comunas) {
          $("#comunasSelect").removeAttr('disabled');
          comunas.data.forEach((comuna) => {
            $("#comunasSelect").append(`<option value="${comuna.id_comuna}">${comuna.nombre_comuna} </option>`)
          })
        }
      })
    });
  </script>
</section>
