<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container">
  <h2>Crear Cuenta</h2>
  <div class="form-horizontal">
  <h3>Paciente</h3>
  <div id ="test" >
  </div>
  <br>
  <div>
    <form id="addUser" name="addUser">
      <label for="run_usuario" class="control-label col-md-2"> RUN:</label>
      <input type="text" id="run_usuario" name="run_usuario" class="form-control col-md-4" placeholder="RUN"> <br>

      <label for="nombre_usuario" class="control-label col-md-2"> Nombre:</label>
      <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control col-md-4" placeholder="Nombre"> <br>

      <label for="apellidoP_usuario" class="control-label col-md-2"> A. Paterno:</label>
      <input type="text" id="apellidoP_usuario" name="apellidoP_usuario" class="form-control col-md-4" placeholder="A. Paterno"> <br>

      <label for="apellidoM_usuario" class="control-label col-md-2"> A. Materno</label>
      <input type="text" id="apellidoM_usuario" name="apellidoM_usuario" class="form-control col-md-4" placeholder="A. Materno"> <br>
      
      <label for="fecha_nac_usuario" class="control-label col-md-2"> Fecha Nacimiento:</label>
      <input class="form-control text-box single-line col-md-4" data-val="true" data-val-date="El campo Fecha de Nacimiento debe ser una fecha." data-val-required="El campo Fecha Nacimiento es obligatorio." id="fecha_nac_usuario" name="fecha_nac_usuario" required="required" type="date" value="">
      <span class="field-validation-valid text-danger" data-valmsg-for="fecha_nac_usuario" data-valmsg-replace="true"></span>
      <br>
      <label for="usuario" class="control-label col-md-2"> Usuario:</label>
      <input type="text" id="usuario" name="usuario" class="form-control col-md-4" placeholder="Usuario"> <br>

      <label for="idTipo_usuario" class="control-label col-md-2"> Tipo de usuario:</label>
      <input type="text" id="idTipo_usuario" name="idTipo_usuario" class="form-control col-md-4"> <br>

        <select class="form-control col-md-4" id="idTipo_usuario" name="idTipo_usuario">
            <option value="1">Odontologo</option>
            <option value="2">Asistente Dental</option>
            <option value="3">Recepcionista</option>
            <option value="4">Externo</option>
            <option selected="selected" value="5">Paciente</option>
            <option value="6">Proveedor</option>
            <option value="7">Carga Familiar</option>
        </select>
        <span class="field-validation-valid text-danger" data-valmsg-for="idTipo_usuario" data-valmsg-replace="true"></span>

      <label for="status_usuario" class="control-label col-md-2"> Status:</label>
      <input type="text" id="status_usuario" name="status_usuario" class="form-control col-md-4" placeholder="Status"> <br>

      <label for="password_usuario" class="control-label col-md-2"> Contrase침a:</label>
      <input type="text" id="password_usuario" name="password_usuario" class="form-control col-md-4" placeholder="Contrase침a"> <br>

      <label for="direccion_usuario" class="control-label col-md-2"> Direcci칩n:</label>
      <input type="text" id="direccion_usuario" name="direccion_usuario" class="form-control col-md-4" placeholder="Direcci칩n"> <br>

      <label for="comuna_usuario" class="control-label col-md-2"> Comuna:</label>
      <input type="text" id="comuna_usuario" name="comuna_usuario" class="form-control col-md-4" placeholder="Comuna"> <br>

      <label for="email_usuario" class="control-label col-md-2"> Email:</label>
      <input type="text" id="email_usuario" name="email_usuario" class="form-control col-md-4" placeholder="Email"> <br>

      <label for="fono_usuario" class="control-label col-md-2"> Fono:</label>
      <input type="text" id="fono_usuario" name="fono_usuario" class="form-control col-md-4" placeholder="Fono"><br>
<hr>
   <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Guardar" class="btn btn-success" >
      </div>
    </div>
    </form>
  </div>

  </div>
  </div>
  <script src="js/usuarios.js"></script>
   <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</body>
</html>