<!DOCTYPE html>
<html lang="en">
<body>
	<h2>Reserva de hora</h2>
	<br>


	<div class="container">
		<div class="row gx-20">
			<div class="col-4">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Seleccion de profesional</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="Default select example">
								<option selected>Open this select menu</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Consultar Agenda</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="card">
					<div class="card-body">
						<div class="agenda">
							<h3>Agenda</h3>
							<h4>Julio</h4>
							<table class="table">
								<thead>
									<tr>
										<th>hora</th>
										<th scope="col">Lunes 12</th>
										<th scope="col">Martes 13</th>
										<th scope="col">Miercoles 14</th>
										<th scope="col">jueves 15</th>
										<th scope="col">Viernes 16</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td>09:00 hrs</td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>
								
									<tr>
										<td>10:00 hrs</td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>

									<tr>
										<td>11:00 hrs</td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>

									<tr>
										<td>12:00 hrs</td>
										<td scope="row"><span class="btn btn-success container">disponible</span></td>
										<td scope="row"><span class="btn btn-light container">disponible</span></td>
										<td scope="row"><span class="btn btn-light container">disponible</span></td>
										<td scope="row"><span class="btn btn-light container">disponible</span></td>
										<td scope="row"><span class="btn btn-light container">disponible</span></td>
										

									</tr>

									<tr>
										<td>13:00 hrs</td>
										<td scope="row"><span class="btn btn-danger btn-success container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>

									<tr>
										<td>14:00 hrs</td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>

									<tr>
										<td>15:00 hrs</td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>

									<tr>
										<td>16:00 hrs</td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										<td scope="row"><span class="btn btn-danger container">No disponible</span></td>
										

									</tr>


								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>




	</div>
	<br />
</body>
</html>