<!DOCTYPE html>
<html lang="en">
	
<body>
	<h2>Reserva de hora</h2>
	<br>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-5 ">
			<div class="col-8">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Seleccion de profesional</h4>
						<p></p>
						<form id="professionals" method="POST">
							<select class="form-select mb-3 profesionalOptions" aria-label="Default select example" id="profesional" name="profesional">
								<option selected>Selecciona profesional</option>
								<% professionals.forEach((profesional) => { %>
									<option value="<%= profesional.run_usuario %>" id="<%= profesional.run_usuario %>" ><%= profesional.nombre_usuario %></option>
								<% }) %>
							</select>

							<h4 class="mb-3">Fecha</h4>
							<p></p>
							<select class="form-select mb-3" aria-label="Default select example" id="agendaSelect" name="agendaSelect" disabled>
								<option value="">Seleccione una agenda</option>
							</select>			
							
							<h4 class="mb-3">Horas</h4>
							<p></p>
							<select class="form-select mb-3" aria-label="Default select example" id="reservaHora" name="reservaHora" disabled>
								<option selected>Horas</option>
							</select>
							<input type="submit" value="Reservar"  class="btn btn-success">
						</form>				
					</div>
				</div>
			</div>
		</div>	
	</div>
	<br>
	<div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      		<!-- <input type="submit" value="Reservar" class="btn btn-success" > |
			<input onclick="document.location.href='/inicioSession'" type="button" value="Volver al Menu" class="btn btn-outline-dark" /> -->
		</div>
	</div>
<br />
	

<script>
	$('#profesional').change(function() {
		var profesionalSelected = $('#profesional').find(":selected").val();
		$.ajax({
			url: `/agendas?profesional=${profesionalSelected}`,
			processData: false,
			contentType: false,
			type: 'get',
			success: function(agendas){
				if (agendas.length > 0) {
					$('#agendaSelect')
						.find('option')
						.remove()
						.end()
						.append('<option value="" selected>Seleccione una agenda</option>')
						.val('whatever');

						$('#reservaHora')
						.find('option')
						.remove()
						.end()
						.append('<option value="" selected>Seleccione una hora</option>')
						.val('whatever');	
						$('#agendaSelect').prop("disabled", false);						
					agendas.forEach((agenda) => {
						$('#agendaSelect').append(`<option value="${agenda.id_agenda}" > ${agenda.fecha_agenda} </option>`);
					})
					
				} else {
					$('#agendaSelect')
						.find('option')
						.remove()
						.end()
						.append('<option value="" selected>Seleccione una agenda</option>')
						.val('whatever');					
					$('#agendaSelect').prop("disabled", true);		
				}
			}
		});
	})

	$('#agendaSelect').change(function() {
			var agendaSelected = $('#agendaSelect').find(":selected").val();
			$.ajax({
				url: `/agendas/${agendaSelected}/reservas`,
				processData: false,
				contentType: false,
				type: 'get',
				success: function(reservas){
					if (reservas.length > 0) {
						$('#reservaHora')
							.find('option')
							.remove()
							.end()
							.append('<option value="">Seleccione una hora</option>')
							.val('whatever');
						$('#reservaHora').prop("disabled", false);	
						reservas.forEach((reserva) => {
							var hours = new Date(reserva.horario_reserva)
							$('#reservaHora').append(`<option  value="${reserva.id}"> ${hours.getHours()}:${('0' + hours.getMinutes()).slice(-2)} </option>`);
						})
					}
				}
			});			
		});

	const serialize_form = form => JSON.stringify(
		Array.from(new FormData(form).entries())
				.reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
	);

	$('#professionals').submit(function(e) {
		event.preventDefault(e)
  	const reservaHoraDatos = serialize_form(this);
		$.ajax({
				url: `/agendas/${JSON.parse(reservaHoraDatos).agendaSelect}/reservas/${JSON.parse(reservaHoraDatos).reservaHora}`,
				processData: false,
				contentType: false,
				type: 'PUT',
				contentType: "application/json",
      	dataType   : "json",				
				data: serialize_form(this),
				success: function(response){
						console.log(response);
				}
			});	
	})

</script>
</body>
</html>