<!DOCTYPE html>
<html lang="en">
	
<body>
	<h2>Reserva de hora</h2>
	<br>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col-4">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Seleccion de profesional</h4>
						<p></p>
						<form id="professionals" method="POST">
							<select class="form-select mb-3" aria-label="Default select example" id="profesional" name="profesional">
								<option selected>Selecciona profesional</option>
								<% professionals.forEach((profesional) => { %>
									<option value="<%= profesional.run_usuario %>" id="<%= profesional.run_usuario %>" name="<%= profesional.run_usuario %>"><%= profesional.nombre_usuario %></option>
								<% }) %>
							</select>
							<input type="submit" class="btn btn-primary float-end" value="Consultar Agenda" >
						</form>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Fecha</h4>
						<p></p>
						<form id="agendasProfesional" method="POST">
							<select class="form-select mb-3" aria-label="Default select example" id="agendaSelect" name="agendaSelect">
								<option value="">Seleccione una agenda</option>
							</select>
							<input type="submit" class="btn btn-primary float-end" value="Seleccionar">
							
						</form>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Hora</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="Default select example" id="reservasProfesional" name="reservasProfesional">
								<option selected>Horas</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<br>
	<div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      		<input type="submit" value="Reservar" class="btn btn-success" > |
			<input onclick="document.location.href='/inicioSession'" type="button" value="Volver al Menu" class="btn btn-outline-dark" />
		</div>
	</div>
<br />
	

<script>
	$('#professionals').submit(function (e) {
			e.preventDefault();
			var profesionalSelected = $('#profesional').find(":selected").val();
			console.log(profesionalSelected)
			$.ajax({
				url: `/agendas?profesional=${profesionalSelected}`,
				processData: false,
				contentType: false,
				type: 'get',
				success: function(agendas){
						console.log(agendas);
						$('#agendaSelect')
							.find('option')
							.remove()
							.end()
							.append('<option value="" selected>Seleccione una agenda</option>')
							.val('whatever');

							$('#reservasProfesional')
							.find('option')
							.remove()
							.end()
							.append('<option value="" selected>Seleccione una hora</option>')
							.val('whatever');							
						agendas.forEach((agenda) => {
							console.log(agenda)
							$('#agendaSelect').append(`<option value="${agenda.id_agenda}"> ${agenda.fecha_agenda} </option>`);
						})
				}
			});
	});
	
	$('#agendasProfesional').submit(function (e) {
			e.preventDefault();
			var agendaSelected = $('#agendaSelect').find(":selected").val();
			console.log(agendaSelected)
			$.ajax({
				url: `/agendas/${agendaSelected}/reservas`,
				processData: false,
				contentType: false,
				type: 'get',
				success: function(reservas){
						console.log(reservas);
						$('#reservasProfesional')
							.find('option')
							.remove()
							.end()
							.append('<option value="">Seleccione una hora</option>')
							.val('whatever');
						reservas.forEach((reserva) => {
							var hours = new Date(reserva.horario_reserva)
							$('#reservasProfesional').append(`<option > ${hours.getHours()}:${('0' + hours.getMinutes()).slice(-2)} </option>`);
						})
				}
			});
	});

</script>
</body>
</html>