<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Situación Economica</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="ftco-section container d-flex justify-content-center">
  <div class="col-7">
    <div class="card">
      <div class="card-body ">
        <h4 class="mb-3">Adjuntar Documentos:</h4>
        <form action="POST" id="nuevaSituacionEconomica" >
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" >
            <label class="form-check-label" for="flexCheckDefault">
              <strong>Cotizaciones AFP:</strong>
            </label>
          </div>
          <input type="file" class="form-control-file" id="file-afp" name="file-afp">
          </label>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <strong>Liquidaciones de Sueldo:</strong>
            </label>
          </div>
          <input type="file" class="form-control-file" id="file-liquidacion-sueldo" name="file-liquidacion-sueldo">
          </label>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <strong>Documento RSH:</strong>
            </label>
          </div>
          <input type="file" class="form-control-file" id="file-rsh" name="file-rsh">
          </label>
        </div>
        <div class="form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input type="submit" value="Enviar" class="btn btn-info col-md-4" id="generar" name="generar">
      </form>
      </div>
    </div>
      </div>
    </div>
  </div>
  </div>
</section>

<script>
  function getImage(fileName) {
    return new Promise(function (resolve, reject) {
      var reader = new FileReader();
       var f = document.getElementById(fileName).files;
    reader.onloadend = function () {
      resolve(reader.result)
    }
    reader.readAsDataURL(f[0]);
    })
  }

  const serialize_form = (form) =>
    JSON.stringify(
      Array.from(new FormData(form).entries()).reduce(
        (m, [key, value]) => Object.assign(m, { [key]: value }),
        {}
      )
    );

  $('#nuevaSituacionEconomica').submit(async (e) => {
			event.preventDefault(e)
      const toData = {};
      if ($('#file-afp').val()) {
        toData.AFP_cliente = await getImage('file-afp').then((result) => result);
      }

      if ($('#file-liquidacion-sueldo').val()) {
        toData.liq_sueldo_cliente = await getImage('file-liquidacion-sueldo').then((result) => result);
      }

      if ($('#file-rsh').val()) {
        toData.finiquito_cliente = await getImage('file-rsh').then((result) => result);
      }

      $.ajax({
				url: `/clientes`,
				processData: false,
				contentType: false,
				type: 'POST',
				contentType: "application/json",
      	dataType   : "json",				
				data: JSON.stringify(toData),
				success: function(response){
          console.log(response.status)
          if (response.status === 200) {
            $.notify('Guardado Correctamente', 'success')
          }
						console.log(response)
				},
        error: function(error) {
          $.notify('Ya cuenta con registros', 'error')
        }        
			});	
  })
</script>