<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Situación Economica</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Situación Económica</title>
</head>
<body>
  <div class="ftco-section container d-flex justify-content-center">
  <div class="col-8">
    <div class="card">
      <div class="card-body ">
        <h4 class="mb-3">Documentos Paciente:</h4>
        <div class="mb-3">
            <form class="form-inline justify-content-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-info my-2 my-sm-3" type="submit">Buscar</button>
              </form>
              <br>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">RUN:</label>
                <Label type="text" class="form-control" id="formGroupExampleInput">
                    <p id="nombreLabel"> RUN </p>
                </label>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre:</label>
                <Label type="text" class="form-control" id="formGroupExampleInput">
                    <p id="nombreLabel"> Nombre </p>
                </label>
            </div>
            <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <strong>Cotizaciones AFP:</strong>
            </label>
          </div>
            <Label type="text" class="form-control" id="formGroupExampleInput">
                <p id="nombreLabel"> Cotizaciones AFP: </p>
            </label>
            <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Ver" class="btn btn-outline-success my-2 my-sm-0" id="generar" name="generar">
            </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <strong>Liquidaciones de Sueldo:</strong>
            </label>
          </div>
            <Label type="text" class="form-control" id="formGroupExampleInput">
                <p id="nombreLabel"> Liquidaciones de Sueldo: </p>
            </label>
            <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Ver" class="btn btn-outline-success my-2 my-sm-0" id="generar" name="generar">
            </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <strong>Documento RSH:</strong>
            </label>
          </div>
            <Label type="text" class="form-control" id="formGroupExampleInput">
                <p id="nombreLabel"> Documento RSH: </p>
            </label>
            <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Ver" class="btn btn-outline-success my-2 my-sm-0" id="generar" name="generar">
            </div>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>