<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Ver Agenda</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
<!DOCTYPE html>
<html lang="en">
<body>
	<br>
	<div class="ftco-section container justify-content-center">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Agenda</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-control mb-3" aria-label="Default select example" id="agendasSelected", name="agendasSelected">
								<option selected>Agenda</option>
								<% agendas.forEach((agenda) => {%>
									<option value="<%= agenda.id_agenda %>"><%= agenda.fecha_agenda.toISOString().split('T')[0] %></option>
								<% }) %>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Hora inicio</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-control mb-3" aria-label="DefaultHora select example" id="reservaHora", name="reservaHora">
								<option selected>Hora inicio</option>
								<option value="1">Hora</option>
								<option value="2">Hora</option>
								<option value="3">Hora</option>
								<option value="4">Hora</option>
								<option value="5">Hora</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Reserva Paciente</h4>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">Nombre:</label>
							<Label type="text" class="form-control" id="formGroupExampleInput">
								<p id="nombreLabel"> Nombre </p>
							</label>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Apellido:</label>
							<Label type="text" class="form-control" id="formGroupExampleInput">
								<p id="apellido"> Apellido </p>
							</label>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Fecha</label>
							<Label type="text" class="form-control" id="formGroupExampleInput" name="fecha" id="fecha"> 
								<p id="fecha"> Fecha </p>
							</label>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Hora</label>
							<Label type="text" class="form-control" id="formGroupExampleInput" name="hora" id="hora"> 
								<p id="hora"> Hora </p>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<script>

$('#agendasSelected').change(function() {
		var agendaSelected = $('#agendasSelected').find(":selected").val();
		console.log(agendaSelected);
		$.ajax({
				url: `/agendas/${agendaSelected}/reservas?all=true`,
				processData: false,
				contentType: false,
				type: 'get',
				success: function(reservas){
					console.log(reservas)
					if (reservas.length > 0) {
						$('#reservaHora')
							.find('option')
							.remove()
							.end()
							.append('<option value="">Seleccione una hora</option>')
							.val('whatever');
						$('#reservaHora').prop("disabled", false);	
						reservas.forEach((reserva) => {
							let color = 'green'
							if (reserva.status_reserva === "reservado") color = "red";
							$('#reservaHora').append(`<option  value="${reserva.id}" style="color: ${color}"> ${moment.tz(reserva.horario_reserva, 'America/Santiago').format("hh:mm")} </option>`);
						})
					}
				}
			});			
	})



$('#reservaHora').change(function() {
		var reservaSelected = $('#reservaHora').find(":selected").val();
		console.log(reservaSelected);
		$.ajax({
				url: `/reserva/${reservaSelected}`,
				processData: false,
				contentType: false,
				type: 'get',
				success: function(reserva){
					console.log(reserva)
					if (reserva.id_usuario !== null) {
						$.ajax({
						url: `/informacion/${reserva.id_usuario}`,
						processData: false,
						contentType: false,
						type: 'get',
						success: function(usuario){
								$('#nombreLabel').text(usuario.usuarios.nombre_usuario)
								$('#apellido').text(usuario.usuarios.apellidoP_usuario)
								$('#fecha').text(moment.tz(reserva.horario_reserva, 'America/Santiago').format("DD-MM-YYYY"))
								$('#hora').text(moment.tz(reserva.horario_reserva, 'America/Santiago').format("hh:mm"))
							}
						})
					} else {
						$('#nombreLabel').text('Nombre')
						$('#apellido').text('Apellido')
						$('#fecha').text('Fecha')
						$('#hora').text('Hora')
					}
				}
			});			
	})

	</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone.min.js"> </script>
</body>
</html>