<!DOCTYPE html>
<html lang="en">
<body>
	<h2>Agenda</h2>
	<br>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Agenda</h4>
						<p></p>
						<form action="\" method="GET">
							<input class="form-control text-box single-line mb-3" data-val="true" data-val-date="El campo Fecha de Nacimiento debe ser una fecha." data-val-required="El campo Fecha Nacimiento es obligatorio." id="fecha_agenda" name="fecha_agenda" required="required" type="date" value="" min="2021-07-01" max="2021-12-31">
							<span class="field-validation-valid text-danger" data-valmsg-for="fecha_agenda" data-valmsg-replace="true"></span>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Hora inicio</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="Default select example">
								<option selected>Hora inicio</option>
								<option value="1">08:00</option>
								<option value="2">09:00</option>
								<option value="3">10:00</option>
								<option value="4">11:00</option>
								<option value="5">12:00</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Intervalo</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="Default select example">
								<option selected>Minutos</option>
								<option value="1">30</option>
								<option value="2">45</option>
								<option value="3">60</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Horas de Trabajos</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="Default select example">
								<option selected>Horas</option>
								<option value="1">8</option>
								<option value="2">7</option>
								<option value="3">6</option>
								<option value="4">5</option>
								<option value="5">4</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      		<input type="submit" value="Guardar" class="btn btn-success" >
		</div>
	</div>
</body>
</html>