<!DOCTYPE html>
<html lang="en">
<body>
	<h2>Ver Agenda</h2>
	<br>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Agenda</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="Default select example">
								<option selected>Agenda</option>
								<option value="1">Fecha</option>
								<option value="2">Fecha</option>
								<option value="3">Fecha</option>
								<option value="4">Fecha</option>
								<option value="5">Fecha</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Hora inicio</h4>
						<p></p>
						<form action="\" method="GET">
							<select class="form-select mb-3" aria-label="DefaultHora select example">
								<option selected>Hora inicio</option>
								<option value="1">Hora</option>
								<option value="2">Hora</option>
								<option value="3">Hora</option>
								<option value="4">Hora</option>
								<option value="5">Hora</option>
							</select>
							<button type="button" class="btn btn-primary float-end">Seleccionar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="card">
					<div class="card-body ">
						<h4 class="mb-3">Reserva Paciente</h4>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">Nombre:</label>
							<Label type="text" class="form-control" id="formGroupExampleInput"> Nombre</label>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Apellido:</label>
							<Label type="text" class="form-control" id="formGroupExampleInput"> Apellido</label>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Fecha</label>
							<Label type="text" class="form-control" id="formGroupExampleInput"> Fecha</label>
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">Hora</label>
							<Label type="text" class="form-control" id="formGroupExampleInput"> Hora</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      		<input type="submit" value="Ver" class="btn btn-success" > |
			<input onclick="document.location.href='/inicioSession'" type="button" value="Volver al Menu" class="btn btn-outline-dark" />
		</div>
	</div>
</body>
</html>